a:visited {color:inherit;}

.menu a:hover{background-color:blue;
			color:white;}
.mediaList a:hover{color:black;
				text-decoration:underline;}

h1:hover{background-color:white;
		color:black;}

h1 {color:blue;}

h1, a, p {font-family: arial;
		text-decoration: none;
		display: block;}

body {background-color:#f6f1f5}




.media1{padding:50px;
		position: absolute;
	   	top:-5px; left:300px;}

.media3 {padding:50px;
	   position: absolute;
	   top:300px; left:900px;}


.media2 {padding:10px;
	   position: absolute;
	   top:300px; left:200px;}

.menu {position: fixed;
		border-width: 1px;
		border-style: solid;
		background-color:white;
		width:165px;
		height: 180px;
		top: 50px;
		left: 60px;
		color:black;}

.media{padding:0px;
		position:absolute;
		top:50px;
		left:300px;}

.photos{padding:10px;
		position:absolute;
		top:0px;
		left:400px;
		border:0px solid black;
		width:150px;
		height:100px;
		overflow-y:hidden;
		overflow-x:scroll;}

.mediaList{padding: 10px;
			position:fixed;
			left:320px;
			top:100px;
			width:400px;	
			height:400px;
			background-color:white;
			color: blue;
			/*color:#fd86e6;*/}

.description {font-size: 12px;}

.container {display:flex;
			flex-direction:row;
			flex-wrap:nowrap;
			justify-content: space-around;
			align-items: center;}




